<style>
 body
{
margin: 0;
padding: 20px;
font-family: Helvetica;
}
h1 {
 text-align: center;
 font-size: 30px;
 color: red;
 margin-bottom: 60px;
}
.box-all{
 display: flex;
 flex-direction: column;
 gap: 20px;
 padding: 0 10px;
 }
 .box-all .heading{
 font-size: 12px;
 height: 30px;
 width: 130px;
 align-items: center;
 justify-content: center;
 display: flex;
 border-bottom:1.5px solid black ;
 border-left: 1.5px solid black;
 }
 .box-all .individual-box{
 color: black;
 background-color: gray;
 border: 1px solid black;
 }
 .box-all .individual-box .end{
 display: flex;
 justify-content: flex-end;
 }
 .box-all .individual-box .heading-one{
 background-color: white;
 color: orange;
 }
 .box-all .individual-box .heading-two{
 background-color: pink;
 color: green;
 }
 .box-all .individual-box .heading-three{
 background-color: yellow;
 color: blue;
 }
 .box-all .individual-box .paragraph{
 padding: 5px 10px ;
 }
 .box-all .individual-box .paragraph p{
 margin-top: 5px;
 }
 @media only screen and (min-width: 495px) {
 .box-all .individual-box {
 max-width: 495px;
 margin: 0 auto;
 }
 }
 @media only screen and (min-width: 767px) {
 h1 {
 font-size: 45px;

 }
 .box-all {
 flex-direction: row;
 flex-wrap: wrap;
 }
 .box-all .individual-box {
 flex-basis: calc(50% - 20px);
 max-width: calc(50% - 20px);
 }
 .box-all .individual-box:nth-child(3) {
 flex-basis: calc(100% - 10px);
 max-width: calc(100% - 10px);
 height: 150px;
 }
}
@media only screen and (min-width: 992px) {
 h1 {
 font-size: 50px;
 }
 .box-all .heading h2{
 font-size: 25px;

 }
 .box-all .heading {
 width: 50%;
 height: 40px;
 }
 .box-all {
 flex-direction: row;
 flex-wrap: nowrap;
 justify-content: space-between;
 max-width: 1250px;
 margin: 0 auto;
 }
 .box-all .individual-box {
 flex-basis: calc(33.33% - 20px);
 max-width: calc(33.33% - 20px);
 margin-right: 20px;
 flex-basis: auto;
 max-width: none;
 height: auto;
 }
 .box-all .individual-box:last-child {
 flex-basis: auto;
 max-width: none;
 height: auto;
 }
}
 </style>